@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
h1 {
    color: #c0c0c0;
    font-weight: 100;
}

.btn {
    color: #999;
    background: #668C4A;
    padding: 100px 100px;
    font-size: 31px;
    text-decoration: none;
    letter-spacing: 10px;
    text-transform: uppercase;
    border-radius: 15px;
    opacity: 0.7;
    margin-left: 20px;
    margin-right: 20px;
}

.btn:hover {
    border: none;
    background: gainsboro;
    padding: 20px 20px;
    color: #1b1b1b;
}

#menu-h {
    align-items: center;
    margin-left: 300px;
    margin-top: -75px;
    letter-spacing: 10px;
    padding: 0px 50px;
}

#menu-h ul {
    width: max-content;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline;
    text-decoration: none;
    transition: background .4s;
}

body {
    font-family: 'Righteous', 'Times New Roman', Times, serif;
    border-radius: 20px;
    background: aliceblue;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-family: 'Righteous' 'Times New Roman', Times, serif;
}

#bem-vindo {
    position: absolute;
    text-align: center;
    width: 437px;
    height: 57px;
    left: 700px;
    top: 880px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(132, 139, 146, 1);
    overflow: hidden;
}

#header {
    box-sizing: border-box;
    display: flex;
    height: 100px;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(271.01deg, #668C4A 1.09%, #A6BF4B 99.72%);
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#container {
    position: absolute;
    width: 1692px;
    height: 800px;
    left: 100px;
    top: 150px;
    background: #E8E8E8;
    border-radius: 10px;
}

#btn-atvd {
    list-style: none;
    align-items: center;
    position: fixed;
    width: 80px;
    height: 80px;
    left: 900px;
    top: 820px;
    background: linear-gradient(180deg, #668C4A 0%, #A6BF4B 100%);
    color: #C4C4C4;
    font-size: 60px;
    border-radius: 50px;
}

#imagem {
    position: absolute;
    width: 134px;
    height: 135px;
    left: 150px;
    top: 100px;
}

#conjunto {
    position: absolute;
    align-items: center;
    font-family: 'Righteous' 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    left: 300px;
    top: 80px;
}

#imagem2 {
    position: absolute;
    width: 134px;
    height: 135px;
    left: 150px;
    top: 400px;
}

#conjunto2 {
    position: absolute;
    align-items: center;
    font-family: 'Righteous' 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    left: 300px;
    top: 380px;
}

.h1 {
    font-size: 31px;
    line-height: 44px;
    color: #000000;
}

.h3 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-transform: capitalize;
    line-height: 29px;
}

.p {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.atividade {
    color: rgba(255, 255, 255, 1);
}

#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 45px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
}

.bar {
    height: 7px;
    width: 100%;
    background: #C4C4C4;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 10px 20px;
    top: -10px;
}

.nav li {
    list-style: none;
    padding: 10px 10px;
    top: 20px;
}

.nav li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 10px;
    left: 0;
    position: absolute;
}

.menu-bg {
    
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: rgba(196, 196, 196, 1);
    border-radius: 10%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}

@media (max-width: 700px) {
    nav, ul {
        flex-direction: column;
    }
    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }
    nav {
        padding: 0;
        align-items: flex-start;
    }
    h1 {
        margin: 10px;
    }
    button {
        display: flex;
    }
    li, ul {
        width: 100%;
    }
}