@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: 'Righteous', 'Times New Roman', Times, serif;
    border-radius: 30px;
    background: aliceblue;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-family: 'Righteous' 'Times New Roman', Times, serif;
}

#bem-vindo {
    position: absolute;
    text-align: center;
    width: 900px;
    height: 57px;
    left: 500px;
    top: 880px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(132, 139, 146, 1);
    overflow: hidden;
}

#header {
    box-sizing: border-box;
    display: flex;
    height: 80px;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(271.01deg, #668C4A 1.09%, #A6BF4B 99.72%);
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#btn-3anoa {
    list-style: none;
    width: 280px;
    height: 180px;
    left: 440px;
    top: 258px;
    background: linear-gradient(294.56deg, #848B92 -3.31%, #9F9F9F 100%);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 40px;
    color: aliceblue;
    margin-top: 100px;
    margin-left: 100px;
}

#btn-1anoa {
    list-style: none;
    width: 280px;
    height: 180px;
    left: 28px;
    top: 258px;
    background: linear-gradient(294.56deg, #848B92 -3.31%, #9F9F9F 100%);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: aliceblue;
    font-size: 40px;
    margin-left: 250px;
}

.loginTeacher {
    color: aliceblue;
}

#btn-1anob {
    list-style: none;
    width: 280px;
    height: 180px;
    left: 28px;
    top: 464px;
    background: linear-gradient(294.56deg, #848B92 -3.31%, #9F9F9F 100%);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: aliceblue;
    font-size: 40px;
    margin-left: 100px;
}

#btn-3anoc {
    list-style: none;
    position: absolute;
    width: 280px;
    height: 180px;
    left: 28px;
    top: 430px;
    font-size: 40px;
    background: linear-gradient(294.56deg, #848B92 -3.31%, #9F9F9F 100%);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 220px;
}

#btn-2anoa {
    list-style: none;
    position: absolute;
    width: 280px;
    height: 180px;
    left: 28px;
    top: 678px;
    background: linear-gradient(294.56deg, #848B92 -3.31%, #9F9F9F 100%);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left: 220px;
    font-size: 40px;
}

.atvd {
    color: rgba(255, 255, 255, 1);
}

.boletim {
    color: rgba(255, 255, 255, 1);
}

#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background: #C4C4C4;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
    top: 20px;
}

.nav li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: rgba(196, 196, 196, 1);
    border-radius: 10%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}