@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: 'Righteous', 'Times New Roman', Times, serif;
    border-radius: 30px;
    background: aliceblue;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#header {
    box-sizing: border-box;
    display: flex;
    height: 80px;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(271.01deg, #668C4A 1.09%, #A6BF4B 99.72%);
    box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#container {
    position: absolute;
    width: 1692px;
    height: 800px;
    left: 100px;
    top: 130px;
    background: #E8E8E8;
    border-radius: 10px;

}

#titulo {
    position: absolute;
    width: 1114px;
    height: 68px;
    left: 250px;
    top: 50px;
    color: #000000;
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
}

#descricao {
    text-align:center;
    position: absolute;
    width: 1114px;
    height: 100px;
    left: 250px;
    top: 200px;
    color: #000000;
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 25px;
}

.btn-upload {
    list-style: none;
    position: absolute;
    width: 280px;
    height: 68px;
    left: 660px;
    top: 365px;
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    cursor: inherit;
    background-size: auto;
}

#prazo {
    position: absolute;
    width: 1114px;
    height: 68px;
    left: 250px;
    top: 500px;
    color: rgba(0, 0, 0, 1);
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
}

#data {
    position: absolute;
    width: 528px;
    height: 68px;
    left: 250px;
    top: 650px;
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 25px;
}

#hora {
    position: absolute;
    width: 528px;
    height: 68px;
    left: 838px;
    top: 650px;
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 25px;
}

#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background: #C4C4C4;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
    top: 20px;
}

.nav li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: rgba(196, 196, 196, 1);
    border-radius: 10%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}